
h1,
h2,
h3,
h4,
h5,
h6,
p
{
    margin-top:0;
    margin-bottom:0;
}

ul{
    list-style-type:none;
    margin-top:0;
    margin-bottom: 0;
    padding-left: 0;
}
a{
    text-decoration: none;
}
img{
    display: block;
}
.container{
     width: 1158px;
     padding-left: 15px;
     padding-right: 15px ;
     margin:0 auto;
     
}
body{
   font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
    line-height: 1.5;
}
.section-paddings{
    padding-top: 120px;
    padding-bottom: 120px;
}
/* Page header */
.page-header{
    border-bottom: 1px solid #E7E9FC;
    color: #FFFFFF;
}
.page-nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.sec-header{
    display:flex;
}
.name-web{
        font-family: 'Raleway' , sans-serif;
        color: #4D5AE5;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-right: 76px;
       
         
}
.color-studio{
    color: #2E2F42;
}

.page-list {
    display:flex;
    gap:40px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    list-style-type: none;
}
.page-item:last-child{
    margin-right: 0;
}
.page-item:hover,
.page-item:active {
    color: #404BBF;
} 
.link{
    padding: 24px 0;
    display: block;
    color: #2E2F42;
}

.items:hover ,
.items:focus {
    color: #404bbf;
}

.info-page{
    display:flex;
    font-style: normal;
    letter-spacing: 0.02em ; 
    margin-left: 232px; 
    align-items: center;
}

.links-contacts:last-child{
    margin-right: 0;
}
.links-contacts ,
.contacts-link{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    line-height: 1.5;
     font-weight: 400;
     font-size: 16px;
      display: flex;
      gap: 40px;
}
.contacts-link:hover ,
.contacts-link:focus{
    color:#404BBF;
    
}
/* First Section  */
.main-section {
    padding: 188px 0;
    background-color: #2E2F42;
}
.main-title{
        max-width: 496px;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        color: #ffffff;
        text-align: center;
        margin-bottom: 48px;
}
.page {
    color: #ffffff;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        max-width: 496px;
         margin: auto;
         margin-bottom: 48px;
}
.button{
    cursor: pointer;
    font-family: inherit;
    background: #4D5AE5;
    color: #ffffff;
    letter-spacing: 0.04em ;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: block;
    min-width: 169px;
    height: 56px;
    border:none;
    background-color: #4D5AE5;
    border-radius: 4px;
    padding-left:32px;
    padding-right: 32px;
    margin: auto;

}
.button:hover ,
.button:focus{
  background-color: #404BBF;
}
/* Section 2 */
.descr-section{
padding: 120px 0;
}
.text-list .main-word{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;  
        text-align: left;  
}
.main-text {
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
}

.visually-hidden{
    position: absolute;
    width:1px;
    height:1px;
    margin:-1px;
    border:0;
    padding:0;
    white-space: nowrap;
    clip-path:inset(100%);
    clip:rect(0 0 0 0);
    overflow: hidden;
}
.text-list{
    display: flex;
    gap:24px;
    flex-wrap: wrap;
}
.text-items {
    width: calc((100% - 72px) / 4);
} 
.text-list:last-child{
    margin-right: 0;
}


/* Section 3  */
.page-team-section{
    padding: 120px 0;
    background-color: #F4F4FD;
}
.page-team .main-word{
font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;   
    text-align: center;
}

.team-list{
    display: flex;
    gap: 24px;
}

.background-color:first-child {
    width: calc((100% - 72px) / 4);
}
.background-color:first-child{
    border-radius: 0 0 4px 4px;
}
.team-list:first-child{
    border-radius: 0 0 4px 4px;
}
.emp-name{
    padding: 32px 0;
}
.emp-name .item-name,
.emp-name .descr{
    text-align: center;
}
/* Section 4 */
.portfolio-section{
    padding-top: 120px;
    padding-bottom: 120px;
}
.main-word{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 72px;
}
.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.portf-background-color{
    width: calc((100% - 48px) / 3);
}
.portfolio-list:nth-child(2n+1){
    margin-right: 0;
}
.portfolio-list:nth-child(-n+3){
    margin-bottom: 0;
}

.app-name{
    padding:32px 16px;
    border: 1px solid #E7E9FC;
    border-top: none;
}

.background-color{
    background-color: #ffffff;

}

.portf-background-color{
    color: #E7E9FC;
}
.item-name{
font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 8px;  
}
.descr{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    
}
.item-name ,
.descr{
    text-align: left;
}
/* Footer page */
.footer-page-cont{
    padding: 100px 0;
    background-color: #2E2F42;
}

.footer-page .name-web{
     display: inline-block;
     margin-bottom: 16px;
     font-family: "Raleway", sans-serif;
     background-color: #2E2F42;
     color: #4D5AE5;
     line-height: 1.17;
     letter-spacing: 0.03em;
    text-decoration: none;
}


.footer-page .color-studio{
    color: #F4F4FD;
}
.last-text{
    max-width: 264px;
    color:#F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
  
}





